# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Chroma DB (optional)
chroma_db/

# Uploaded data (not source)
uploaded_files/

# Node
node_modules/